/** generici **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.text-gray {
    color: #808080;
}

.text-small {
    font-size: 12px
}

/** header **/
header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 100px;
    width: auto;
    line-height: 100px;
}

#logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

/** titolo **/
h1 {
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 10px;
}

address {
    font-style: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #7dcaee;
}

/** foto Tim **/
#figure-section {
    margin: 20px 10px;
}