/** header **/
header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 100px;
    width: auto;
    line-height: 90px;
}

#logo {
    height: 50px;
    width: auto;
    vertical-align: bottom;
}

/** titolo **/
h1 {
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 10px;
}

address {
    font-style: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #7dcaee;
}

.text-gray {
    color: #808080;
}

.text-small {
    font-size: 12px
}

/** foto Tim **/
#figure-section {
    margin-top: 20px;
    margin-left: 0;
}

/** lista **/
ul {
    padding: 0;
    margin-top: 30px;
    list-style-position: inside;
}

/** tabella **/
table {
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: #20a9e5;
    color: #fff
}

.half {
    width: 50%;
}

tr {
    background-color: #b1e5f2;
}

.even {
    background-color: #fff;
}

/** testo piè di pagina**/
span{
    background-color: yellow;
}